.menu {
  width: 800px;
  height: 500px;
  margin-left: 10px;
  background-color: pink;
}

.menu .goods {
  width: 180px;
}

.menu .goods .goods-btn {
  width: 100%;
  height: 38px;
  background-color: #008842;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  line-height: 38px;
}

.menu .goods .goods-type {
  position: relative;
  display: none;
  width: 180px;
  height: 462px;
  background-color: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
}

.menu .goods .goods-type li {
  width: 179px;
  height: 40px;
  margin-left: 1px;
  color: #000;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
}

.menu .goods .goods-type li:hover {
  background-color: #ffffff;
}

.menu .goods .active {
  display: block;
}

.menu .list {
  display: none;
  width: 620px;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.menu .list li {
  float: left;
  height: 30px;
  padding: 0 20px;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
}
